body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
}

#logo {
    height: 32px;
    width: 32px;
}

#chat {
    overflow: auto;
    margin: 0 20px;
}

.nickname, .message {
    display: inline-block;
}

.nickname {
    margin: 0 5px;
    color: blue;
    font-weight: bold;
}

.line:nth-child(2n) {
    background: #eee;
}

.horizontal {
    display: flex;
}
