* {
    box-sizing: border-box;
}

body {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 24pt;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#header {
    align-items: center;
    display: flex;
    flex-shrink: 1;
}

#logo {
    height: 128px;
    width: 128px;
}

h1 {
    font-size: 16pt;
}

#chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 10;
    margin: 0 20px;
    overflow: auto;
}

.nickname, .message {
    display: inline-block;
}

.nickname {
    color: #db6152;
    font-weight: bold;
    margin: 0 5px;
}

.nickname:before {
    content: '<';
}

.nickname:after {
    content: '>';
}

.line:nth-child(2n) {
    background: #eee;
}

.horizontal {
    display: flex;
    flex-shrink: 0;
    width: 100vw;
}

.horizontal input {
    flex-grow: 1;
    width: 10px;
}

.horizontal button {
    width: 50px;
}

input, button {
    font-size: 24pt;
}
