body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
}

#logo {
    background: maroon;
    flex-shrink: 0;
    height: 64px;
    width: 64px;
}

#chat {
    overflow: auto;
}

.time, .nickname, .message {
    display: inline-block;
}

.time {
    color: gray;
    font-style: italic;
}

.nickname {
    margin: 0 5px;
    color: blue;
    font-weight: bold;
}

.line:nth-child(2n) {
    background: #eee;
}

.horizontal {
    display: flex;
}
